<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Sandbox - Abdul Alim</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/vue@next" defer></script>

    <script src="01-App.js" defer></script>
    <script src="02-Style.js" defer></script>
    <script src="03-Conditional.js" defer></script>
    <script src="05-Component.js" defer></script>
    <script src="09-Forms.js" defer></script>
  </head>
  <body>

  <!-- Code for 01-App.js -->
    <section id="app">
   <!--
      |-> Interpolation: {{ Reference key from Vue Data Object}}
      |-> This curly braces data binding technique only available inside the bounded html element 
    -->
      <h2>VueJs: Goal of {{ yourName }}</h2>

    <!-- Using Computed/Computational Property -->
      <h2>{{ courseGoalMethod }}</h2>

      <!-- Initial Value Locked, No change will occur -->
      <!-- Directives are prefixed with v-. Ex. v-html -->
      <h4 v-once>Starting Goal: {{ goal }}</h4>

    <!-- 
       |-> v-on directive to add any event listener
       |-> v-bind directive to add any attributes value. f the bound value is null or undefined, then the attribute will be removed from the rendered element.
       |-> v-html directive to add any html element 
       |-> v-model directive is combination of v-on:input and v-bind:value
       |-><div :id="`list-${id}`"></div>
       |-> {{ if (ok) { return message } }} won't work. because each binding just take one expression(exception of v-for, v-on and v-slot)
       |->  {{ formatDate(date) }}, just can use global methods like Math, Date
       |->  Can add global properties to use: app.config.globalProperties
    -->
      <input type="text" placeholder="Your Name" v-on:input="setName($event)" v-bind:value="yourName">
      <input type="text" placeholder="set and reset shortcut" v-model="yourName">
      <button v-on:click="resetInput">Reset</button>
      <br><br>

    <!-- v-on: shorthand- @ -->
      <button @click="goal++">Add</button>

    <!-- logic in html is bad practice -->
      <button @click="reduceGoal(1)">Reduce</button> <!--or, just 'reduceGoal' if no argument-->
      <h2>Total Goals: {{ goal }}</h2>

    <!-- v-bind: shorthand- : -->
      <p>Learn More
        <a :href="courseLink">Course</a>
      </p>

    <!-- Dynamic attribute: <a :[attributeName]="url"> ... </a>..Here attributeName is expression -->
     
    <!-- 
      |-> Browser Default Behavior for Form: Page will refresh
      |-> prevent is a event modifier that remove it
      |-> keyboard event modifier ex- keyup.enter
    -->
      <form v-on:submit.prevent = "submitForm()">
        <input type="text" placeholder="If we submit form">
        <button>submit</button>
      </form>
      
    </section>

    <!-- Code for 02-Style.js -->
    <section id="styling">
      <header>
        Vuejs Styling
      </header>
      <!-- {borderColor} or {"border-color"} -->
      <!-- Inline Style- Bad Practice -->
      <!-- <div :class="{ active: isActive }"></div> active class will be taken if isActive method is truthy -->
      <div class="demo" @click="boxSelected('A')" :style="{borderColor: boxASelected ? 'red' : '#ccc'}"></div>

      <!-- Working with External CSS -->
      <!-- Dynamically select active class if BoxBSelected is true -->
      <div class="others" :class="{demo: true, active: boxBSelected}" @click="boxSelected('B')"></div>

      <!-- Separate Static class and dynamic vuejs class is best practice -->
      <!-- Class Logic from Vuejs computed -->
      <div class="demo"
       :class="boxCClasses" 
       @click="boxSelected('C')"></div>

       <!-- Binding as Dynamic Array -->
       <div :class="['demo', {active: boxDSelected}]" @click="boxSelected('D')"></div>

       <!-- If your component has multiple root elements, you would need to define which element will receive this class. -->
       <p :class="$attrs.class"></p>

       <!-- <div :style="{ color: activeColor, fontSize: fontSize + 'px' }"></div> //or font-size: fontSize -->
       <!-- When you use a CSS property that requires a vendor prefix in :style, Vue will automatically add the appropriate prefix. -->
       <!-- <div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div> -->
    </section>

    <!-- Code for 02-Conditional.js -->
    <section id="conditional">
      <h2>My Conditional course goals</h2>
      <input type="text" v-model="goalEntered" />
      <button @click="addGoal">Add Goal</button>

      <!-- Using v-if like if(true) -->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>

      <!-- v-else or v-else-if: applied tag must be direct neighbor of previous tag -->

      <!--
      |-> v-show: alternative of v-if, but no else or else if available
      |-> v-if remove element from dom, v-show just use display:none 
       -->
       
      <ul v-else>
        <!-- Using for loop -->
        <!-- <li v-for="goal in goals">{{ goal }}</li> -->
        
        <li v-for="(goal, index) in goals" @click="removeGoal(index)" :key="goal">{{ index }} - {{ goal }}</li>

        <!-- or, idx instead of index -->
        <!-- key is not default html property,identified by vue. use it when unique identifier like id -->
      </ul>

      <!-- Loop through Objects -->
      <div>
        <span v-for="(value, key, index) in {name: 'Abdul', age: 24}">{{ index }} - {{ key }} : {{ value }}</span>
      </div>

      <!-- Loop through Numbers -->
      <div>
        <span v-for="num in 5">{{ num }}</span>
      </div>

      <!-- we can have nested v-for: li v-for="item in items">
      <span v-for="childItem in item.children">
        {{ item.message }} {{ childItem }}
      </span>
      </li> -->

      <!-- Can use of: <div v-for="item of items"></div> -->

      <!-- We can use v-if and v-for in template and component also -->

      <!-- if v-for and v-if in combined use, v-if got priority -->

      <!-- We can maintain state with :key for primary key. It is recommended to provide a key attribute with v-for whenever possible, unless the iterated DOM content is simple. It expects primitive values like number, string.
       -->

      <!-- Mutation Methods: push(), pop(), shift(), unshift(), splice(), sort(), reverse() -->
      <!-- Non Mutating Methods: filter(), concat(), slice(). return a new array instead of array manipulation. -->
    </section>

    <!-- Code for 05-Component.js -->
    <header>
      <h1>FriendList</h1>
    </header>
    <friend-contact></friend-contact>
    <section id="component">
      <ul>
        <friend-contact></friend-contact>
        <friend-contact></friend-contact>
      </ul>
    </section>

    <!-- Code for 09-Forms.js -->
    <form class="form-input" id="forms" @submit.prevent="submitForm">
      <div class="form-control" :class="{invalid: userNameValidity === 'invalid'}">
        <label for="user-name">Your Name</label>
        <input id="user-name" name="user-name" type="text" v-model.trim="userName" @blur="validateInput"/>
        <p v-if="userNameValidity === 'invalid'">Please enter a valid name</p>
        <!-- or, in js userName.trim() -->
      </div>
      <div class="form-control">
        <label for="age">Your Age (Years)</label>
        <input id="age" name="age" type="number" v-model="userAge"/>
        <!-- if type = text, v-model.number -->
      </div>
      <div class="form-control">
        <label for="referrer">How did you hear about us?</label>
        <select id="referrer" name="referrer" v-model="referrer">
          <option value="google">Google</option>
          <option value="wom">Word of mouth</option>
          <option value="newspaper">Newspaper</option>
        </select>
      </div>
      <div class="form-control">
        <h2>What are you interested in?</h2>
        <div>
          <input id="interest-news" name="interest" type="checkbox" value="news" v-model="interest"/>
          <label for="interest-news">News</label>
        </div>
        <div>
          <input id="interest-tutorials" name="interest" type="checkbox" value="tutorials"  v-model="interest"/>
          <label for="interest-tutorials">Tutorials</label>
        </div>
        <div>
          <input id="interest-nothing" name="interest" type="checkbox" value="nothing"  v-model="interest"/>
          <label for="interest-nothing">Nothing</label>
        </div>
      </div>
      <div class="form-control">
        <h2>How do you learn?</h2>
        <div>
          <input id="how-video" name="how" type="radio" value="video"  v-model="how"/>
          <label for="how-video">Video Courses</label>
        </div>
        <div>
          <input id="how-blogs" name="how" type="radio" value="blogs" v-model="how"/>
          <label for="how-blogs">Blogs</label>
        </div>
        <div>
          <input id="how-other" name="how" type="radio" value="other" v-model="how"/>
          <label for="how-other">Other</label>
        </div>
      </div>
      <div>
        <button>Save Data</button>
      </div>
    </form>
  </body>
</html>

