* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Jost', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background: linear-gradient(315deg,#42d392 25%,#647eff);
    color: white;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }
  
  #app, #conditional {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
  }
  
 h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #4fc08d;
    margin: 0 0 1rem 0;
  }
  
   p {
    font-size: 1.25rem;
    font-weight: bold;
    border: 1px solid #4fc08d;
    background-color: #4fc08d;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
  }
  
   input {
    font: inherit;
    border: 1px solid #ccc;
  }
  
  input:focus {
    outline: none;
    border-color: #1b995e;
    background-color: #d7fdeb;
  }
  
   button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #ff0077;
    background-color: #ff0077;
    color: white;
    padding: 0.05rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  }
  
   button:hover,
  button:active {
    background-color: #ec3169;
    border-color: #ec3169;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  }
  #styling {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 3rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
  }
  
  .demo {
    width: calc(100% - 32px);
    height: 100px;
    margin: 16px;
    border: 2px dashed #ccc;
  }
  .active{
    border-color: red;
    background-color: cyan;
  }
 li {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    color: #1f1f1f;
    list-style: none;
    cursor: pointer;
    background-color: cyan;
  }